.ds-layout {
  display: flex;
  flex-direction: column;
  padding: 4rem 4.8rem;
  gap: 2.8rem;
}

.ds-layout--bleed {
  padding: 0;
}

.ds-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ds-grid {
  display: grid;
}

.ds-flex {
  display: flex;
}

.ds-flex--row {
  flex-direction: row;
}

.ds-flex--col {
  flex-direction: column;
}

.ds-flex--wrap {
  flex-wrap: wrap;
}
